OPENAI_API_KEY=sk-111
PROXYCURL_API_KEY=wedttw
TAVILY_API_KEY=tvly-111
TWITTER_API_KEY=
TWITTER_API_KEY_SECRET=
TWITTER_BEARER_TOKEN=
TWITTER_ACCESS_TOKEN=
TWITTER_ACCESS_TOKEN_SECRET=
PYPATH=/home/echeadle/Oct_Agents/udemy-eden-langchain/ice_breaker